            <div id="about">                
              <h1>ABOUT</h1>
              <h2>2011</h2>
              <p>
                <h2><p><b>Dumuzzi</b></p></h2>
              </p>

              <%= image_tag("radar.png", :width => 150, :height => 150, :border => 0) %>
              <p>Dumuzzi é um sistema de monitoramento de máquinas serviços pela
      internet que tem como objetivo verificar o estado atual de cada
      serviço e, em caso de queda ou grande lentidão, emitir avisos ao
      administrador.<p/>

              <p>O nome Dumuzzi vem da mitologia sumérica, onde Dumuzzi representava um filho fiel, um deus guardião das portas do céu. Um serviço de monitoramento eficiente é, de fato, o Guardião do Portal dos Céus de um SysAdmin que, tendo certeza de que seus servidores estão online e operando em perfeito estado, pode dormir tranquilo.<p/>

              <p>A utilização do serviço é totalmente gratuita e sem restrições, limitações e outra imposições, podendo utilizá-lo qualquer pessoa que queria monitorar um website.<p/>

              <p>Dumuzzi nasceu na competição Rally on Rails, feito pela Equipe Cidadelas Jedis e é distribuído sob a licença CDDL e está aberto a colaborações. Fique a vontade para usar, contribuir, modificar e aperfeiçoar.<p/>

              <p>Conheça as tecnologias utilizadas:<p/>
              <p>- Ruby 1.9<p/>
              <p>- Rails 3.1</p>
              <p>- MysSQL2</p>
              <p>- Sass-rails</p>
              <p>- Coffee-rails</p>
              <p>- Uglifier</p>
              <p>- Jquery-rails</p>
              <p>- Therubyracer</p>
              <p>- Devise</p>
              <p>- Omniauth</p>
              <p>
                <a target="_blank" href="git://github.com/vagnerzampieri/zscaffold_admin.git" style="color: red;text-decoration:none;">- zscaffold_admin</a>
              <p>

              <p>- Foreverb</p>
              <p>- Net-ping</p>
              <p>- Unicorn</p>
              <p>- Ubuntu</p>
              <p>- Gimp</p>
              <p>- Inkscape</p>
            </div>
