            <div id="terms">              
              <h1>TERMS</h1>
              <h2><%= Time.now.strftime("%Y")%> Dumuzzi</h2>

              <%= image_tag("server.png", :width => 180, :height => 180, :border => 0) %>

              <br/><p>Nossa proposta é um serviço simples de monitoramento que, inicialmente testa a disponibilidade e tempo de reposta destes serviços. Nesta página, listamos os termos para utilização do serviço e nossas limitações de responsabilidade.<p/>

              <p>1 - Dumuzzi apenas monitora os serviços de serviços WEB, não efetuando qualquer tipo de ação de recuperação.<p/>

              <p>2 - Garantimos o envio de mensagens por e-mail.<p/>

              <p>3 - O serviço preve o envio de mensagens por mensagens instantâneas.<p/>

              <p>4 - Na eventualidade de envio de mensagens por SMS, os custos serão por conta do utilizador, salvo nos casos houverem patrocinadores publicitários. O utilizador, neste caso, deverá aceitar o recebimento de publicidade em cada mensagem.<p/>

              <p>5 - Dumuzzi não requer a instalação de clientes ou agentes nos sistemas testados.<p/>

              <p>6 - Dumuzzi utiliza somente técnologias e componentes opensource.<p/>

              <p>7 - Dumuzzi é feito para rodar em ambientes Linux e Unix.<p/>

              <p>8 - Dumuzzi não possui suporte técnico contratável, seja no local, remoto e/ou por telefone. Oferecemos um suporte básico por e-mail e por meio da lista de discussão ENDEREÇO. Sua utilização é por conta e risco do utilizador.<p/>

              <p>9 - O cancelamento de sua utilização pode ser feito a qualquer momento, em ônus ou quaisquer avisos.<p/>

              <p>10 - Dumuzzi não garante a exportação e/ou migração de dados cadastrados.<p/>
            </div>    
