        <div id="ranks" style="margin-top:0px;">
            <div id="scroll">
              
              <h1>TERMS</h1><br/>
              <h2>2011</h2>
              <p>
              <h2><p><b>Dumuzzi</b></p></h2><br/>
              </p>

              <%= image_tag("server.png", :width => 180, :height => 180, :border => 0) %>

              <br/><p>Nossa proposta é um serviço simples de monitoramento que, inicialmente testa a disponibilidade e tempo de reposta destes serviços. Nesta página, listamos os termos para utilização do serviço e nossas limitações de responsabilidade.<p/><br/>

              <p>1 - Dumuzzi apenas monitora os serviços de serviços WEB, não efetuando qualquer tipo de ação de recuperação.<p/><br/>

              <p>2 - Garantimos o envio de mensagens por e-mail.<p/><br/>

              <p>3 - O serviço preve o envio de mensagens por mensagens instantâneas.<p/><br/>

              <p>4 - Na eventualidade de envio de mensagens por SMS, os custos serão por conta do utilizador, salvo nos casos houverem patrocinadores publicitários. O utilizador, neste caso, deverá aceitar o recebimento de publicidade em cada mensagem.<p/><br/>

              <p>5 - Dumuzzi não requer a instalação de clientes ou agentes nos sistemas testados.<p/><br/>

              <p>6 - Dumuzzi utiliza somente técnologias e componentes opensource.<p/><br/>

              <p>7 - Dumuzzi é feito para rodar em ambientes Linux e Unix.<p/><br/>

              <p>8 - Dumuzzi não possui suporte técnico contratável, seja no local, remoto e/ou por telefone. Oferecemos um suporte básico por e-mail e por meio da lista de discussão ENDEREÇO. Sua utilização é por conta e risco do utilizador.<p/><br/>

              <p>9 - O cancelamento de sua utilização pode ser feito a qualquer momento, em ônus ou quaisquer avisos.<p/><br/>

              <p>10 - Dumuzzi não garante a exportação e/ou migração de dados cadastrados.<p/><br/>
            </div>    
        </div>
