		<h3>Menu</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/domains">Domain</a></li>
			<li class="icn_new_article"><a href="/hosts">Host</a></li>
			<li class="icn_new_article"><a href="/hosts_services">Hosts Service</a></li>
			<!--<li class="icn_new_article"><a href="/pro">Protocol</a></li>-->
			<li class="icn_new_article"><a href="/queueds">Queued</a></li>
			<li class="icn_new_article"><a href="/services">Service</a></li>
			<li class="icn_new_article"><a href="/state_changes">State Change</a></li>
		</ul>
