        <div id="about">
          <h1>O que é?</h1>
          <%#= image_tag("radar2.png", :width => 150, :height => 150, :border => 0) %>
          <p>Dumuzzi é um sistema de monitoramento de máquinas e serviços pela internet. Seu objetivo é verificar o estado atual de serviços em máquinas préviamente configuradas, enviando alertas ao administrador.</p>
          <p>O nome Dumuzzi vem da Mitologia Sumérica, onde Dumuzzi representava um filho fiel, um deus guardião das portas do céu. Um serviço de monitoramento eficiente é o guardião do portal dos céus para um SysAdmin, já que, saber que seus servidores estão online e operando em perfeito estado, não tem preço.</p>
          
          <p>O serviço é gratuito, limitado à dez (10) domínios por usuário, podendo ser utilizado por qualquer pessoa que queria monitorar serviços ou websites.</p>
          
          <h1>Como surgiu</h1>
          <center><%= image_tag("rally-on-rails-logo.png", :width => 280, :height => 150, :border => 0) %></center>
          <p>Dumuzzi nasceu na competição Rally on Rails, feito pela Equipe Cidadelas Jedis e é distribuído sob a licença CDDL, aberto a colaborações.</p>
 
          <h1>Proposta</h1>
          <p>Nossa proposta é disponibilizar um serviço de monitoramento que ao mesmo tempo seja simples e confiavel. Para isto, os testes são feitos de hosts diferentes, em diferentes continentes e provedores de serviço.</p>
          <div id="social">
            <!--<h1>SOCIAL</h1>-->
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=132542963506807&amp;href=http%3A%2F%2Frally.dumuzzi.com%2F&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe>
          </div>
        </div>
        
