development:
  :address: smtp.server.com
  :port: 25
  :authentication: plain
  :domain: server.com
  :user_name: monitor@server.com
  :password: password
  :from: monitor@server.com
  :reply_to: monitor@server.com
  :return_path: monitor@server.com
  :to: email@server.com
  :enable_starttls_auto: false
  :default_url_options: http://localhost:3000

production:
  :address: smtp.server.com
  :port: 25
  :authentication: plain
  :domain: server.com
  :user_name: monitor@server.com
  :password: password
  :from: monitor@server.com
  :reply_to: monitor@server.com
  :return_path: monitor@server.com
  :to: email@server.com
  :enable_starttls_auto: false
  :default_url_options: http://localhost:3000

