<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
	  <title>Dumuzzi</title>
	  <meta name="keywords" content="layout css3 javascript jquery html5"/>
    <meta name="description" content="Este é um layout base."/>
	  <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />-->
    <link href="stylesheets/layout.css" media="all" rel="stylesheet" type="text/css" />
	</head>
  <body>
    <div id="container">
      <header>
        <!--<h1>Header</h1>-->
        <nav>
          <ul>
            <li><a href="#">Empresa</a></a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </header>
      
      <section>
        <h1>Section</h1>
        <article>
          <h1>Article</h1>
        </article>
        
        <aside>
          <h1>Aside</h1>
        </aside>
      </section>
      
      <footer>
        <h1>Footer</h1>
      </footer>
    </div>
  </body>
</html>  
